<% if (locals.errors) { %>
    <div class="errors">
        <ul class="errorList">
            <% for (const error of errors) { %>
                <li> <%= error.msg %> </li>
            <% } %>
        </ul>
    </div>
<% } %>